## Observations and Insights

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
Meta_data_complete_pd = pd.merge(mouse_metadata, study_results, how="left", on=["Mouse ID", "Mouse ID"])
# Display the data table for preview
Meta_data_complete_pd

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [3]:
Meta_data_complete_pd.count()

Mouse ID              1893
Drug Regimen          1893
Sex                   1893
Age_months            1893
Weight (g)            1893
Timepoint             1893
Tumor Volume (mm3)    1893
Metastatic Sites      1893
dtype: int64

In [4]:
# Checking the number of mice.
MiceCount = len(Meta_data_complete_pd["Mouse ID"].unique())
MiceCount

249

In [5]:

Meta_data_complete_pd['Mouse ID'].value_counts()

g989    13
j296    10
n304    10
w914    10
c757    10
        ..
d133     1
l872     1
x336     1
x226     1
u153     1
Name: Mouse ID, Length: 249, dtype: int64

In [78]:
del df['g989']
df.head()

NameError: name 'df' is not defined

In [6]:
Meta_data_complete_pd.duplicated('Mouse ID')

0       False
1        True
2        True
3        True
4        True
        ...
1888     True
1889     True
1890     True
1891     True
1892     True
Length: 1893, dtype: bool

In [8]:
Meta_data_complete_pd.index.duplicated('Mouse ID')

array([False, False, False, ..., False, False, False])

In [7]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 

result = Meta_data_complete_pd.duplicated().count()

print(result)

1893

In [72]:
# ir qny resule is true print
#result ==True
#print(result)

In [73]:
micegroup = Meta_data_complete_pd.groupby('Mouse ID')
micegroup.head().count()

Mouse ID              1108
Drug Regimen          1108
Sex                   1108
Age_months            1108
Weight (g)            1108
Timepoint             1108
Tumor Volume (mm3)    1108
Metastatic Sites      1108
dtype: int64

In [4]:
# Optional: Get all the data for the duplicate mouse ID.

In [5]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.

In [6]:
# Checking the number of mice in the clean DataFrame.

## Summary Statistics

In [58]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.
MiceDrug = Meta_data_complete_pd.groupby(['Drug Regimen','Tumor Volume'])
plt.hist(MiceDrug['Drug Regimen'])
plt.xlabel('Drug Regimen')
plt.ylabel('Tumor Volume (mm3)')
plt.show()
plt.tight_layout() 
print(MiceDrug['Tumor Volume (mm3)'].mean())
print(MiceDrug['Tumor Volume (mm3)e'].median())
print(MiceDrug['TTumor Volume (mm3)'].mode())

KeyError: 'Tumor Volume'

In [8]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Using the aggregation method, produce the same summary statistics in a single line

## Bar and Pie Charts

In [9]:
# Generate a bar plot showing the total number of unique mice tested on each drug regimen using pandas.

In [10]:
# Generate a bar plot showing the total number of unique mice tested on each drug regimen using pyplot.

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [14]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [16]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [17]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen